name: TQQQ_Daily_Alert

on:
  schedule:
    # UTC 21:30 = 한국 시간(KST) 오전 6시 30분
    # 월요일부터 금요일까지(미국 장 운영 기준) 매일 아침 실행
    - cron: '30 21 * * *'
  workflow_dispatch: # 버튼을 눌러 수동으로 즉시 실행 가능

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install yfinance pandas_ta requests pandas matplotlib pytz

      - name: Run script
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: python main.py
