name: TQQQ_Daily_Alert

on:
  schedule:
    - cron: '0 23 * * *' # 한국 시간 오전 8시
  workflow_dispatch: # 수동 실행 버튼

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12' # 3.12 버전 이상이어야 에러가 안 납니다.

      - name: Install dependencies
        # 이 부분이 수정되었습니다! matplotlib가 추가되었어요.
        run: |
          python -m pip install --upgrade pip
          pip install yfinance pandas_ta requests pandas matplotlib

      - name: Run script
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: python main.py
